.Dictionary section {
   background: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 30px 50px rgba(65,50,100,.08);
   margin-top: 10px;
}

.Dictionary h2, .Dictionary h3 {
    color: #fd5959;
}

.Dictionary h2 {
    font-size: 33px;
    margin: 0;
}

.Dictionary h3 {
    font-size: 28px;
}

.Dictionary input {
    display: block;
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
}

.Dictionary .Phonetic {
    font-size: 28px;
    color: #ff9c6d;
}
